[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	branch = HEAD
[submodule "ELCIC"]
	path = ELCIC
	url = https://github.com/chencxxy28/elcic
[submodule "InteRD"]
	path = InteRD
	url = https://github.com/chencxxy28/interd
